.odd {
    background-color: #eee;
}
.heading {
    background-color: #ccc;
    font-weight: bold;
    padding: 5px;
}
.text-right {
    text-align: right;
}
.show-in-print-only {
    display: none;
}
@media print {
    .hide-in-print {
        display: none!important;
    }
    .show-in-print-only {
        display: block!important;
    }
}